body {
  font-family: "Poppins", sans-serif;
}

.bg-banner {
  background-color: #264653;
}

h1 {
  font-weight: 600;
}

header p {
  font-weight: 300;
}

.bg-purchase-button {
  background-color: #e76f51;
}

#modal-paragraph {
  color: black;
}

.orange-color-text {
  color: #e76f51;
}

.img-grayscale {
  filter: grayscale(100%);
}

.featured-bikes-margin {
  margin-top: 90px;
  margin-bottom: 90px;
}

.img-width {
  width: 180px;
  margin-top: 40px;
}

.blue-color-text {
  color: rgb(46, 167, 237);
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-300 {
  font-weight: 300;
}

.gray-color-text {
  color: rgb(107, 107, 107);
}

.fa-star {
  color: rgb(229, 124, 71);
}

.fa-star.filled {
  color: rgb(229, 124, 71);
}

.star-margin-bottom {
  margin-bottom: 15px;
}

.carousel-inner img {
  margin: auto;
}

#bg-carousel {
  background-color: #e8e8e8;
}
