body {
  font-family: "Poppins", sans-serif;
}

.bg-banner {
  background-color: #264653;
}

h1 {
  font-weight: 600;
}

header p {
  font-weight: 300;
}

.bg-purchase-button {
  background-color: #e76f51;
}

#modal-paragraph {
  color: black;
}

.orange-color-text {
  color: #e76f51;
}

.img-grayscale {
  filter: grayscale(100%);
}

.featured-bikes-margin {
  margin-top: 90px;
  margin-bottom: 90px;
}
