body {
  font-family: "Poppins", sans-serif;
}

.bg-banner {
  background-color: #264653;
}

header h1 {
  font-weight: 600;
}

header p {
  font-weight: 300;
}

.bg-purchase-button {
  background-color: #e76f51;
}

#modal-paragraph {
  color: black;
}
